*{
	margin: 0PX;
	padding: 0PX;
}
.header{
	background-image: url(main-image.jpg);
	width: 100%;
	height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#logo{
	position: absolute;
	width: 200px;
	height: 140px;
	top: 10px;
	left: 120px;
}
.nav{
	width: 1320px;
	height: 140px;
}
.nav ul{
	float: right;
	margin-top: 60px;
	margin-right: 80px;
}
.nav ul li{
	list-style: none;
	float: left;
	width: 120px;
	height: 50px;
	line-height: 50px;
}
.nav ul li a{
	text-decoration: none;
	color: #676767;
	font-size: 14px;
	font-weight: 700;
	display: block;
	width: 120px;
	height: 50px;
	text-align: center;	
}
#dong:hover a{
	background-color:#FA914B ;
	color: #fff;
}
#bud:hover a{
	color: #FFA500;
}
.mid{
	width: 1050px;
	height: 160px;
	margin: 0px auto;
}
.mid p{
	color: #252525;
	font-size: 64px;
	line-height: 80px;
	font-weight: 600;
	letter-spacing: 1.5px;
	margin-bottom: 32px;
	background-color: rgba(255,255,255,0.85);
	text-align: center;	
	padding: 20px 40px;
	margin-top: 120px;
}
.text{
	width: 700px;
	height: 85px;
	margin: 0px auto;
}
.text p{
	color: #ffffff;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}
.qbutton{
	width: 180px;
	height: 45px;
	margin: 0px auto;
	padding: 0 15px;
	border: 2px solid #e6ae48; 
}
.qbutton p{
	font-size: 14px;
	line-height: 47px;
	height: 47px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;/* 字体大写 */
	text-align: center;
}
.qbutton:hover{
	background-color: rgba(255,255,255,0.85) ;
	border-color: #ffffff ;
	border-width: 2px ;
}
.con{
	width: 100%;
	height: 250px;
	margin: 0px auto;
}
.con p1{
	display: block;
	color: #252525;
	font-size: 32px;
	line-height: 38px;
	font-weight: 550;
	text-align: center;
	margin: 100px 30px 30px;
}
.con p2{
	width: 880px;
	display: block;
	color: #676767;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 23px;
	margin: 0px auto;
}
.hud{
	background-image: url(Parallax-1.jpg);
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* position: absolute; */
}
.mid1{
	width: 900px;
	height: 150px;
	margin: 0px auto ;
	position: relative;
	padding-top: 150px;
}
.mid1 p{
	display: block;
	color: #252525;
	font-size: 60px;
	line-height: 80px;
	font-weight: 550;
	letter-spacing: 1.5px;
	margin-bottom: 32px;
	background-color: rgba(255,255,255,0.85);
	text-align: center;	
	padding: 20px 40px;
}
.text1{
	width: 700px;
	height: 85px;
	margin: 0px auto;
}
.text1 p{
	color: #ffffff;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}
.qbutton1{
	width: 180px;
	height: 45px;
	margin: 0px auto;
	padding: 0 15px;
	border: 2px solid #ffffff;
}
.qbutton1 p{
	font-size: 14px;
	line-height: 47px;
	height: 47px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;/* 字体大写 */
	text-align: center;
}
.qbutton1:hover{
	background-color: rgba(255,255,255,0.85) ;
	border-color: #ffffff ;
	border-width: 2px ;
}
.con1{
	width: 100%;
	height: 380px;
	margin: 0px auto;
}
.con1 p1{
	display: block;
	color: #252525;
	font-size: 32px;
	line-height: 38px;
	font-weight: 550;
	text-align: center;
	margin: 100px 30px 30px;
}
.con1 p2{
	width: 880px;
	display: block;
	color: #676767;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 23px;
	margin: 0px auto;
}
.caidan{
	width: 1000px;
	height: 200px;
	position: relative;
	margin: 0px auto;
}
.caidan table{
	border-collapse: collapse;
	margin-top: 80px;
	font-weight: 550;
	width: 1000px;
	height: 150px;
	text-align: left;	
}
.hud1{
	background-image: url(Parallax-2.jpg);
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.mid2{
	width: 900px;
	height: 150px;
	margin: 0px auto ;
	position: relative;
	padding-top: 150px;
}
.mid2 p{
	display: block;
	color: #252525;
	font-size: 60px;
	line-height: 80px;
	font-weight: 550;
	letter-spacing: 1.5px;
	margin-bottom: 32px;
	background-color: rgba(255,255,255,0.85);
	text-align: center;	
	padding: 20px 40px;
}
.text2{
	width: 700px;
	height: 85px;
	margin: 0px auto;
}
.text2 p{
	color: #ffffff;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}
.qbutton2{
	width: 180px;
	height: 45px;
	margin: 0px auto;
	padding: 0 15px;
	border: 2px solid #ffffff;
}
.qbutton2 p{
	font-size: 14px;
	line-height: 47px;
	height: 47px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;/* 字体大写 */
	text-align: center;
}
.qbutton2:hover{
	background-color: rgba(255,255,255,0.85) ;
	border-color: #ffffff ;
	border-width: 2px ;
}
.row{
	width: 100%;
	height: 520px;
	position:relative;
}
.box1{
	margin-top: 100px;
	margin-left: 150px;
}
.box1 img{
	/* transform: scale(0.5);/* 等比例缩放 */ 
	width: 300px;
	height: 400px;
	float: left;
	padding-right: 20px;
}
.box2{
	position: absolute;
	display: block;
	right: 100px;
	width: 400px;
	height: 400px;
	margin-top: 50px;
}
.box2 p1{
	display: block;
	color: #676767;
	font-size: 14px;
	font-weight: 500;
}
.box2 p2{
	display: block;
	font-size: 20px;
    line-height: 39px;
    font-weight: 600;
}
.box2 p3{
	display: block;
	font-size: 14px;
	line-height: 29px;
	font-weight: 500;
	color: #676767;
}
.inner{
	background-image: url(Parallax-3.jpg);
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.box3{
	position:absolute;
	display: block;
	left: 100px;
	width: 400px;
	height: 400px;
	margin-top: 150px;
	margin-left: 70px;
}
.box3 p1{
	display: block;
	color: #676767;
	font-size: 14px;
	font-weight: 500;
}
.box3 p2{
	display: block;
	font-size: 20px;
	line-height: 39px;
	font-weight: 600;
}
.box3 p3{
	display: block;
	font-size: 14px;
	line-height: 29px;
	font-weight: 500;
	color: #676767;
}
.box4{
	float: right;
	position: relative;
	margin-top: 100px;
	margin-right: 80px;
}
.box4 img{
	width: 300px;
	height: 400px;
	padding-right: 20px;
	float: right;
}
.ender{
	width: 100%;
	height: 600px;
}
.call{
	width: 100%;
	height: 160px;
	background-color: #383838;
}
.call p{
	display: block;
	color: #FFFFFF;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	padding-top: 50px;
}
.tous{
	width: 100%;
	height: 360px;
	background-color: #252525;
}
.tous table{
	position: absolute;
	border-collapse: collapse;
	width: 1000px;
	height: 150px;
	text-align: center;	
	color: #FFFFFF;
	margin-left: 150px;
	margin-top: 80px;
}
.tous table tr:nth-child(1){
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 30px;
}
.tous table tr:nth-child(2),table tr:nth-child(3),table tr:nth-child(4){
	font-size: 14px;
}
.end{
	width: 100%;
	height: 80px;
	background-color: #191919;
}
.end p{
	display: block;
	color: #676767;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding-top: 30px;
}