*{
	margin: 0PX;
	padding: 0PX;
}
.header{
	background-image: url(Reservations-Title.jpg);
	width: 100%;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#logo{
	position: absolute;
	width: 200px;
	height: 140px;
	top: 10px;
	left: 120px;
}
.nav{
	width: 1320px;
	height: 140px;
}
.nav ul{
	float: right;
	margin-top: 60px;
	margin-right: 80px;
}
.nav ul li{
	list-style: none;
	float: left;
	width: 120px;
	height: 50px;
	line-height: 50px;
}
.nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: 700;
	display: block;
	width: 120px;
	height: 50px;
	text-align: center;	
}
#dong:hover a{
	background-color:#FA914B ;
	color: #fff;
}
#bud:hover a{
	color: #FFA500;
}
.mid{
	width: 950px;
	height: 160px;
	margin: 0px auto;
}
.mid p{
	color: #252525;
	font-size: 60px;
	line-height: 80px;
	font-weight: 600;
	letter-spacing: 1.5px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.85);
	text-align: center;	
	padding: 20px 20px;
	margin-top: 110px;
}
.text{
	width: 700px;
	height: 85px;
	margin: 0px auto;
}
.text p{
	color: #ffffff;
	font-size: 23px;
	line-height: 29px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}
.con{
	width: 100%;
	height: 650px;
	margin: 0px auto;
}
.con p1{
	display: block;
	color: #252525;
	font-size: 32px;
	line-height: 38px;
	font-weight: 550;
	text-align: center;
	margin: 100px 30px 30px;
}
.con p2{
	width: 880px;
	display: block;
	color: #676767;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 23px;
	margin: 0px auto;
}
.biaodan{
	display: block;
	width: 750px;
	height: 700px;
	margin: 0px auto;
	padding-top: 100px;
}
input[type="text"]{
	width: 700px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 5px;/* 圆角 */
	display: block;
	text-align: center;
}
input[type="email"]{
	width: 700px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	display: block;
	text-align: center;
}
input[type="tel"]{
	width: 700px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	display: block;
	text-align: center;
}
input[type="textarea"]{
	width: 700px;
	height: 150px;
	border: 1px solid gray;
	border-radius: 5px;
	display: block;
	text-align: center;
}
input[type="submit"]{
	width: 250px;
	height: 45px;
	border: 1px solid gray;
	display: block;
	text-align: center;
	margin: 0px auto;
	color: #FFFFFF;
	background-color: #252525;
}
input[type="submit"]:hover{
	background-color: gray;
}
